body {
  font-family: 'Open Sans', sans-serif;
}
body p {
  color: #595959;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  border: 0;
  margin: 0;
  padding: 0;
}
.padding {
  padding: 150px 0px;
}
.contact-information {
  padding: 50px;
}
.contact-information h1 {
  color: white;
  text-align: center;
}
.contact-information ul {
  margin-top: 40px;
}
.contact-information ul li {
  color: white;
  margin-bottom: 20px;
}
.contact-information ul li i {
  display: inline-block;
  padding-right: 10px;
}
.contact-information iframe {
  opacity: 0.6;
}
